<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.exoplayer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:name=".ExoPlayer2Activity"
            android:exported="true">
        </activity>
    </application>

</manifest>